div.text{
    background-color: #F6F6F6;
    z-index: 1;
    width: 100%;
    padding: 25px 50px;
    margin: 20px 0 0;
}
h1 {
    color: #333;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    line-height: 1;
}
div.bg {
  width: 1200px;
  height: 900px;
  display: block;
  position: relative;
}

div.bg::after {
  content: "";
  background: url('http://s1.thingpic.com/images/nu/oFb2xuT9ArbVSjtmrNqBcbcf.jpeg');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
body.story aside p {
    margin: 3px 0 12px;
    width: 100%;
}
body.story p {
    color: rgba(51, 51, 51, 0.93);
    font-family: "Palanquin", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
}
div.viz_panel{
    flex: 1 0 auto;
    margin-left: 50px;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
div.d3plus{
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: block;
    font-family: "Palanquin", sans-serif;
    -webkit-font-smoothing: antialiased;
}
