div.text{
    background-color: rgba(255,255,255,.5);
    z-index: 1;
    width: 95%;
    padding: 5px ;
    margin: 0px auto 0;
    text-align: center;
}
div.sideText{
    display:inline-block;
    width: 19%;
    text-align: left;
}
div#viz{
    display:inline-block;
    width: 79%;
}
h1 {
    color: #333;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    line-height: 1;
    text-align: center;
}
div.bg {
  position: relative;
}

div.bg::after {
  background-size: cover;
  content: "";
  background: url('http://s1.thingpic.com/images/nu/oFb2xuT9ArbVSjtmrNqBcbcf.jpeg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body.story {
    text-align: center;
}
body.story p {
    color: rgba(51, 51, 51, 0.93);
    font-family: "Palanquin", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 0 12px;
    width: 100%;
}
