body{
    background-color: #F6F6F6;
    z-index: 1;
    width: 100%;
    padding: 25px 50px;
    margin: 20px 0 0;
}
h1 {
    color: #434958;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    line-height: 1;
}
